{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Dodaj recenziju za {{ movie.title }}</h1>
  <form method="post" class="mx-auto" style="max-width: 600px;">
    {% csrf_token %}
    <div class="mb-3">
      <label for="rating" class="form-label">Ocjena:</label>
      <select name="rating" id="rating" class="form-select">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="review" class="form-label">Komentar:</label>
      <textarea name="review" id="review" class="form-control" rows="4"></textarea>
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Dodaj recenziju</button>
    </div>
  </form>
</div>
{% endblock %}
