{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">{% if form.instance.pk %}Uredi film{% else %}Dodaj novi film{% endif %}</h2>
  <form method="post" class="mx-auto" style="max-width: 600px;">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.as_p }}
    </div>
    <div class="d-grid">
      <button type="submit" class="btn btn-primary">Spremi</button>
    </div>
  </form>
</div>
{% endblock %}
