{% extends 'base.html' %}

{% block title %}Moji Filmovi{% endblock %}

{% block content %}
<h1 class="mb-4 text-center">Admin page</h1>
<div class="d-flex justify-content-center mb-3">
{% if user.is_superuser %}
<a href="{% url 'add_movie' %}" class="btn btn-primary mb-3 mt-2 mr-1">Dodaj Novi Film</a>
<a href="{% url 'search_page' %}" class="btn btn-secondary mb-3 mt-2">Pretraži filmove</a>

{% endif %}
</div>


<form method="GET" class="mb-4 container w-50 mx-auto">
    <div class="input-group ">
        <input type="text" class="form-control" name="search-area" value="{{search_input}}" placeholder="Pretraži filmove u bazi">
        <button class="btn btn-outline-secondary" type="submit">Pretraži</button>
    </div>
</form>


<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Korisnik</th>
            <th scope="col">Ime filma</th>
            <th scope="col">Opis</th>
            <th scope="col">Recenzija</th>
            <th scope="col">Ocjena</th>
            <th scope="col">Godina</th>
            <th scope="col">Slika</th>
            <th scope="col">Akcije</th>
        </tr>
    </thead>
    <tbody>
    {% for movie in movies %}
        <tr>
            <td>
                {% if movie.user %}{{ movie.user.username }}{% endif %}
            </td>
            <td><a href="{% url 'movie-detail' movie.id %}" class="btn btn-primary btn-sm">{{movie.title}}</a>
            </td>
            <td>{{movie.description}}</td>

            {%if not movie.review %}
            <td> Unesite opis</td>
            {% else %}
            <td>{{movie.review}}</td>
            {% endif %}

            {%if not movie.rating %}
            <td> Ocijenite film</td>
            {% else %}
            <td>{{movie.rating|floatformat:0}}</td>

            {% endif %}
            
            
           
            <td>{{movie.release_date.year}}</td>
            <td><img src="{{movie.poster_url}}" alt="slika" class="img-thumbnail" style="max-width: 100px;"></td>
            <td>
              {% if user.is_superuser %}
                    <a href="{% url 'movie-update' movie.id %}" class="btn btn-primary btn-sm mt-2">Uredi</a>
                {% endif %}
                <a href="{% url 'add-review' movie.id %}" class="btn btn-success btn-sm mt-2">Ocijeni</a>

                <a href="{% url 'movie-delete' movie.id %}" class="btn btn-danger btn-sm mt-2">Obriši</a>

              </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5" class="text-center">Nema filmova u listi</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}