{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Prijava</h2>
  <form method="post" class="mx-auto" style="max-width: 400px;">
    {% csrf_token %}
    
    {{ form.as_p }}
    
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary btn-block">Prijavi se</button>
    </div>
  </form>
  <p class="text-center mt-3">Nemate račun? <a href="{% url 'register' %}">Registrirajte se</a></p>
</div>
{% endblock %}
