{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Brisanje filma</h2>
    <p class="text-center">Jeste li sigurni da želite obrisati film "<strong>{{ movie.title }}</strong>"?</p>
    <form method="post" class="text-center">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger me-2">Da, obriši</button>
        <a href="{% url 'movie-list' %}" class="btn btn-secondary">Ne, vrati se natrag</a>
    </form>
</div>
{% endblock %}
