{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">{{ movie.title }}</h1>
    <p>{{ movie.description }}</p>
    <p><strong>Datum izlaska:</strong> {{ movie.release_date }}</p>
    <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" class="img-fluid mb-3">

    <h2 class="mt-5 mb-3">Recenzija</h2>
    {% if movie.review %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Ocjena: {{ movie.rating }}/5</h5>
                <p class="card-text">{{ movie.review }}</p>
            </div>
        </div>
    {% else %}
        <p>Još nema recenzije za ovaj film.</p>
    {% endif %}

    <a href="{% url 'add-review' movie.id %}" class="btn btn-primary mt-3">{% if movie.review %}Uredi recenziju{% else %}Dodaj recenziju{% endif %}</a>
    <a href="{% url 'movie-list' %}" class="btn btn-primary mt-3">Natrag</a>

</div>
{% endblock %}