{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Pretraži filmove</h2>
    
    <div class="input-group mb-3">
        <a href="{% url 'movie-list' %}" class="btn btn-secondary">Nazad</a>

        <input type="text" id="movie-search" class="form-control" placeholder="Unesite naziv filma">
        <button class="btn btn-primary" onclick="searchMovies()">Pretraži</button>
    </div>
    <div id="results"></div>
</div>

<script>
function searchMovies() {
    const query = document.getElementById('movie-search').value;
    fetch(`/search/?query=${encodeURIComponent(query)}`)
        .then(response => response.json())
        .then(data => {
            const resultsDiv = document.getElementById('results');
            resultsDiv.innerHTML = '';
            if (data.Search) {
                data.Search.forEach(movie => {
                    resultsDiv.innerHTML += `
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="${movie.Poster}" alt="${movie.Title}" class="img-fluid rounded-start">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">${movie.Title} (${movie.Year})</h5>
                                        <button class="btn btn-success" onclick="addMovie('${movie.Title}', '${movie.Year}', '${movie.imdbID}', '${movie.Poster}')">Dodaj u moje filmove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;
                });
            } else {
                resultsDiv.innerHTML = '<p class="text-center">Nema rezultata.</p>';
            }
        })
        .catch(error => console.error('Error:', error));
}

function addMovie(title, year, imdbID, poster) {
    fetch('/add-movie-from-api/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: JSON.stringify({
            title: title,
            year: year,
            imdbID: imdbID,
            poster: poster
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            alert(data.message);
        } else {
            alert(data.message);
        }
    })
    .catch(error => console.error('Error:', error));
}

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; cookies.length > i; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
{% endblock %}
