{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Registracija</h2>
  <form method="POST" action="{% url 'register' %}" class="mx-auto" style="max-width: 400px;">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-grid gap-2">
      <input type="submit" value="Register" class="btn btn-primary btn-block">
    </div>
  </form>
  <p class="text-center mt-3">Već imate račun? <a href="{% url 'login' %}">Login</a></p>
</div>
{% endblock %}
